@inherits LayoutComponentBase

@inject ModelListViewModel ModelListViewModel
@inject ILLMFileManager FileManager
@inject LMKitService LmKitService
@inject ISnackbar Snackbar
@inject Maestro.Services.ISnackbarService SnackbarService
@inject IDialogService DialogService

<div id="app-root">
    <div id="app-bar">
        <nav id="nav-bar">
            <div class="nav-section-top">
                <SectionOutlet SectionName="nav-bar-top" />
            </div>
            
            <div class="nav-section-main">
            </div>

            <div class="nav-section-bottom">
                <SectionOutlet SectionName="nav-bar-bottom" />
            </div>
        </nav>
    </div>

    <div id="body-container">
        @Body
    </div>
</div>

<SnackbarComponent />
<MudThemeProvider IsDarkMode="true" DefaultScrollbar="true" Theme="@CurrentTheme" />
<MudPopoverProvider />
<MudSnackbarProvider />

<MudDialogProvider FullWidth="true"
                   CloseButton="false"
                   BackdropClick="true"
                   NoHeader="true"
                   Position="DialogPosition.TopLeft"
                   CloseOnEscapeKey="true" />

@code {
    public MudTheme CurrentTheme { get; private set; } = UIConstants.MaestroTheme;
}
