<MudDialog Class="action-dialog-root radius-1">
    <DialogContent>
        <div class="d-flex flex-column gap-2">
            <div>
                <MudText Typo="Typo.subtitle2">
                    @Title
                </MudText>
            </div>

            <MudText Typo="Typo.caption">
                @((MarkupString)Message)
            </MudText>

            <div class="dialog-actions">
                <button class="text-button" @onclick="() => DialogInstance.Close(true)">
                    <MudText Color="@(ActionColor != null ? ActionColor.Value : (IsImportant ? Color.Error : Color.Default))" Typo="Typo.subtitle2">
                        @ActionText
                    </MudText>
                </button>
                <button class="text-button" @onclick="() => DialogInstance.Cancel()">
                    <MudText Typo="Typo.subtitle2">Cancel</MudText>
                </button>
            </div>
        </div>

    </DialogContent>
</MudDialog>

@code {
    [Parameter] public MarkupString Message { get; set; } = default(MarkupString);

    [Parameter] public string Title { get; set; } = string.Empty;

    [Parameter] public string ActionText { get; set; } = string.Empty;

    [Parameter] public bool IsImportant { get; set; }

    [Parameter] public Color? ActionColor { get; set; }

    [CascadingParameter] private IMudDialogInstance DialogInstance { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await InvokeAsync(() => StateHasChanged());
    }
}