@inject IDialogService DialogService
@inject ModelListViewModel ModelListViewModel

<MudDialog Class="model-selection-dialog-root">
    <DialogContent>
        <div class="model-selection-dialog-content-wrapper width-50 height-auto-100">
            <div @onclick="() => MudDialog.Cancel()" class="dialog-backdrop"></div>
            <div class="model-selection-dialog-content-root">
                <div class="d-flex flex-row space-between align-center px-1 py-1 bg-surface-2">
                    <MudText Align="Align.Center" Class="flex-grow-1" Typo="Typo.caption">
                        Available models
                    </MudText>

                    <div class="d-flex justify-end close-button align-center">
                        <IconButton Style="IconButton.ButtonStyle.Icon"
                        Icon="fas fa-close"
                        Size="IconButton.ButtonSize.Small"
                        OnClick="() => MudDialog.Cancel()" />
                    </div>
                </div>

                <div class="model-selection-dialog-body">
                    <ModelList OnModelSelected="OnModelSelected" LimitWidth="false" Selectable="true" Dense="true" />
                </div>
            </div>
        </div>
        </DialogContent>
</MudDialog>

<style>
    .model-selection-dialog-content-wrapper {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-block: auto;
    }

    .model-selection-dialog-content-root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: var(--Surface);
    border-radius: 1rem;
    border: 1px solid var(--OutlineVariant);
    border-radius: 0.5rem;
    }

    .model-selection-dialog-root {
    left: 0 !important;
    top: 0 !important;
    background-color: transparent !important;
    padding: 1rem !important;
    }

    .dialog-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    }

    .height-auto-100 {
    height: auto;
    max-height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    }

    .model-selection-dialog-body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    }

    .model-selection-dialog-body::-webkit-scrollbar {
    display: none;
    }

    .close-button {
    color: var(--Outline) !important;
    }

    .close-button:hover {
    color: var(--OnSurface) !important;
    }
</style>

@code {
    [CascadingParameter] private IMudDialogInstance MudDialog { get; set; }


    [Parameter] public string Message { get; set; }

    [Parameter] public string Title { get; set; }

    [Parameter] public string ActionText { get; set; }

    [Parameter] public Color ActionColor { get; set; }

    [Parameter] public bool IsImportant { get; set; }

    private void OnModelSelected(ModelInfoViewModel viewModel)
    {
        if (!viewModel.ModelCard.IsLocallyAvailable)
        {
            Task.Run(async () =>
            {
                var confirmed = await PromptConfirmation(viewModel);

                if (confirmed)
                {
                    ModelListViewModel.SartModelDownload(viewModel);
                }
            });
        }
        else
        {
            MudDialog.Close(viewModel);  // Close the model selection dialog
        }
    }

    private async Task<bool> PromptConfirmation(ModelInfoViewModel modelInfoViewModel)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = false, Position = DialogPosition.Center };

        var parameters = new DialogParameters<ActionDialog>
        {
            { x => x.Title, "Model needs to be downloaded" },
            { x => x.Message, new MarkupString($"Start downloading <b>{modelInfoViewModel.ShortName}</b>?") },
            { x => x.IsImportant, false },
            { x => x.ActionText, "Download" }
        };

        var dialog = await DialogService.ShowAsync<ActionDialog>(null, parameters, options);

        var result = await dialog.Result;

        return result != null && !result.Canceled && result.Data is bool confirmed && confirmed ? true : false;
    }
}
