#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-bar {
    background-color: var(--Surface);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#nav-bar {
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
}


.nav-link {
    font-size: 2rem !important;
    color: var(--Outline) !important;
    transition: color 0.2s;
}

.nav-link-active {
    color: var(--OnSurface) !important;
}

#page-top-bar {
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

#page-top-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#body-container {
    flex: 1;
    overflow: hidden;
    background-color: var(--Surface15);
}