@inherits LayoutComponentBase


@inject ModelListViewModel ModelListViewModel

<div id="page-container">
    <div id="top-bar">
        <SectionOutlet SectionName="top-bar" />
        <div class="bottom-divider"> </div>
    </div>

    <div id="body-container">
        @Body
    </div>
</div>

<style>


    #top-bar {
        background-color: var(--Surface);
        height: 96px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    #body-container {
        flex: 1;
        overflow: hidden;
    }

    #page-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
</style>

<MudThemeProvider IsDarkMode="true" DefaultScrollbar="true" Theme="@CurrentTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    public MudTheme CurrentTheme { get; private set; } = UIConstants.MaestroTheme;
}