@inherits LayoutComponentBase


@inject ModelListViewModel ModelListViewModel

<div id="page-container">
    <div id="top-bar">
        <SectionOutlet SectionName="top-bar" />
        <div class="bottom-divider"> </div>
    </div>

    <div id="body-container">
        @Body
    </div>
</div>

<style>


    #top-bar {
        background-color: var(--Surface);
        height: 96px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    #body-container {
        flex: 1;
        overflow: hidden;
    }

    #page-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
</style>

<MudThemeProvider IsDarkMode="true" DefaultScrollbar="true" Theme="@CurrentTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    private static readonly MudTheme MaestroTheme = new MudTheme()
        {
            PaletteDark = new()
            {
                Primary = "#512BD4",
                Surface = "#06080A",
                Background = "#12181F",
                TextPrimary = "#F0F6FC",
                Dark = "#9198A1",

                BackgroundGray = "#151521",
                AppbarText = "#92929f",
                AppbarBackground = "rgba(26,26,39,0.8)",
                DrawerBackground = "#1a1a27",
                ActionDefault = "#74718e",
                ActionDisabled = "#9999994d",
                ActionDisabledBackground = "#605f6d4d",
                TextSecondary = "#92929f",
                TextDisabled = "#ffffff33",
                DrawerIcon = "#92929f",
                DrawerText = "#92929f",
                GrayLight = "#2a2833",
                GrayLighter = "#06080A",
                Info = "#4a86ff",
                Success = "#3dcb6c",
                Warning = "#ffb545",
                Error = "#ff3f5f",
                LinesDefault = "#33323e",
                TableLines = "#33323e",
                Divider = "#292838",
                OverlayLight = "#12181F",
            }
        };


    public MudTheme CurrentTheme { get; private set; } = MaestroTheme;
}