@inherits LayoutComponentBase

<div id="rootContainer">
    @Body
</div>


<MudThemeProvider IsDarkMode="true" DefaultScrollbar="true" Theme="@CurrentTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    public MudTheme CurrentTheme { get;  private set;} = UIConstants.MaestroTheme;
}