html, body {
    background-color: #12181F;
    color: white;
    font-family: system-ui, sans-serif;
}

    body.mac {
        font-size: 20px;
    }

    body.windows {
        font-size: 16px;
    }

        /*@media (-webkit-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    html, body {
        font-size: 20px;
    }
}*/

        body.windows .small-text {
            font-size: 14px;
        }

    body.mac .small-text {
        font-size: 16px;
    }

    body.windows .small-icon {
        font-size: 10px;
    }

    body.mac .small-icon {
        font-size: 12px;
    }

/*@media screen and (min-width: 0px) and (max-width: 9999px) and (-webkit-min-device-pixel-ratio: 1) and (max-width: 9999px) {
    .small {
        font-size: 16px;
    }
}

@media screen and (min-width: 0px) and (max-width: 9999px) and (-webkit-min-device-pixel-ratio: 1) and (max-width: 9999px) {
    .title {
        font-size: 22px;
    }
}

@media screen and (min-width: 0px) and (max-width: 9999px) and (-webkit-min-device-pixel-ratio: 1) and (max-width: 9999px) {
    .subtitle
    {
        font-size: 20px;
    }
}*/

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}

.dark {
    --Primary: #512BD4;
    --PrimaryAccent: #3100AF;
    --Error: #BB3D36;
    --Background: #12181F;
    --OnBackground: #F0F6FC;
    --Surface: #06080A;
    --Surface15: #0C1014;
    --Surface2: #12181F;
    --Surface3: #182129;
    --Surface4: #1F2933;
    --OnSurface: #F0F6FC;
    --Outline: #9198A1;
    --OutlineVariant: #2E3033;
}

.loading-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 8px;
    height: 8px;
    animation: spinner-o824ag 0.8s infinite linear;
}

    .spinner div {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--Primary);
        border-radius: 50%;
        animation: spinner-vse6n7 1s infinite ease;
    }

        .spinner div:nth-child(1) {
            --rotation: 90;
        }

        .spinner div:nth-child(2) {
            --rotation: 180;
        }

        .spinner div:nth-child(3) {
            --rotation: 270;
        }

        .spinner div:nth-child(4) {
            --rotation: 360;
        }

@keyframes spinner-vse6n7 {
    0%, 100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
    }
}

@keyframes spinner-o824ag {
    to {
        transform: rotate(360deg);
    }
}


.round-button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    background-color: white;
}

body.mac .round-button {
    width: 40px;
    height: 40px;
}

body.windows .round-button {
    width: 32px;
    height: 32px;
}

.primary-button {
    padding: 8px;
    vertical-align: middle;
    border-width: 0;
    color: var(--OnBackground);
    background-color: var(--Background);
}

body.mac .primary-button {
    height: 40px;
    font-size: 20px;
}

body.windows .primary-button {
    height: 32px;
    font-size: 16px;
}

.primary-button:active {
    background-color: var(--PrimaryAccent);
}


.primary-button:hover {
    background-color: var(--Primary);
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 4px;
    background-color: var(--OnBackground);
    border-radius: 50%;
    display: inline-block;
}
