@inherits MvvmComponentBase<AssistantsPageViewModel>

<div class="container">

    <div id="assistant-container">
        <Translation TranslationViewModel="@ViewModel.CurrentTranslation" />
    </div>
</div>

<style>
    .container {
        color: white;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        padding-inline: 8px;
        padding-block: 8px;
        display: flex;
        background-color: pink;
        justify-content: center; 
        align-items: center;
    }

    #assistant-container {
        background-color: green;
        max-width: 800px;
        width: 100%;
        align-content: center;
    }
</style>
@code {
}
