@inherits ComponentBase

<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text="General settings">
        <MudStack Spacing="6">

            <NumericSetting Value="ViewModel.MaximumCompletionTokens" />

            <div class="setting-container">
                <MudText>
                    Chatbot purpose
                </MudText>

                <MudTextField Variant="Variant.Outlined"
                              Lines="5"
                              Value="ViewModel.SystemPrompt"/>
            </div>

            <div class="setting-container">
                <div class="flex-row">

                    <MudText>
                        Maximum completion tokens
                    </MudText>

                    <MudTextField Class="setting-field"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined"
                                  InputType="InputType.Number"
                                  Value="ViewModel.MaximumCompletionTokens"/>
                </div>
            </div>


            <div class="setting-container">
                <div class="flex-row">
                    <MudText>
                        Request timeout
                    </MudText>

                    <MudTextField Class="setting-field"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined"
                                  Value="@ViewModel.RequestTimeout"/>
                </div>

                <MudSlider Min="10" Max="120" Value="@ViewModel.RequestTimeout" Color="Color.Primary"
                           Variant="Variant.Filled"/>
            </div>

            <div class="setting-container">
                <div class="flex-row">

                    <MudText>
                        Context size
                    </MudText>

                    <MudTextField Class="setting-field"
                                  Margin="Margin.Dense"
                                  Value="ViewModel.ContextSize"
                                  Variant="Variant.Outlined"/>
                </div>
            </div>
        </MudStack>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Samping configuration">
    </MudExpansionPanel>
</MudExpansionPanels>

@code
{
    [Parameter] public SettingsViewModel ViewModel { get; set; }
}