#container {
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    grid-template-rows: 1fr auto auto;
    padding-inline: 8px;
    padding-block: 8px;
    display: grid;
}

#conversation-container {
    display: flex;
    flex-direction: column;
    position: relative;
    /*         display: flex;
                                    flex-direction: column;
                                    */
    overflow-y: hidden;
    scrollbar-gutter: both-edges stable;
}

    #conversation-container:hover {
        overflow-y: scroll; /* Show the scrollbar on hover */
    }

    #conversation-container::-webkit-scrollbar {
        width: 8px;
    }

    #conversation-container::-webkit-scrollbar-thumb {
        background-color: var(--Surface);
        border-radius: 4px;
        border: 10px solid transparent;
    }

    #conversation-container::-webkit-scrollbar-track {
        background-color: transparent;
    }

    #conversation-container::-webkit-scrollbar-thumb:hover {
        background-color: var(--Surface3);
    }

#conversation-content {
}


#user-input {
    overflow: hidden;
}


#bottom-space {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-block: 8px;
}

.chat-element {
    padding-inline: 8px;
    width: 100%;
    justify-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

body.windows .chat-element {
    max-width: 800px;
}

body.mac .chat-element {
    max-width: 1000px;
}

#message-list {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#empty-conversation {
    flex-direction: column;
    gap: 32px;
    display: flex;
}

#chat-info {
    position: sticky;
    display: flex;
    bottom: 8px;
    height: 100px;
}

.scroll-to-end-button {
    color: var(--OnSurface);
    background-color: var(--Surface4);
    display: flex;
    border: none;
    align-self: center;
}

body.windows .scroll-to-end-button {
    margin-top: -32px; /* Setting negative margin to the height of the button so that it does not add height to parent containers. */
}

body.mac .scroll-to-end-button {
    margin-top: -40px; /* Setting negative margin to the height of the button so that it does not add height to parent containers. */
}

.vertical-stack {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.welcome-message {
    color: var(--Outline);
    text-align: center;
}

.shortcut-instruction {
    padding: 12px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    border-radius: 0;
    border-color: var(--Surface4);
    color: var(--Outline);
}
