#input-border {
    max-width: 800px;
}

#input-border {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    position: relative;
    width: 100%;
    border: 1px solid var(--OutlineVariant);
    transition: border-color 0.2s;
    background-color: var(--Surface2);
    border-radius: 1rem;
}

    #input-border:focus-within {
        border-color: var(--Outline);
    }


#input-text {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    overflow-y: auto;
    border: none;
    outline: none;
    resize: none;
    height: auto;
    font-size: 1rem;
    font-family: 'Roboto','Helvetica','Arial','sans-serif';
    color: var(--OnSurface);
    background-color: transparent;
    scrollbar-gutter: stable;
    padding-left: 0.5rem;
    max-height: 12rem;
}

.input-text:focus-within {
    border-color: var(--Primary);
}

.send-button-container {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0.5rem;
    grid-column: 2;
}

.send-button {
    height: 1.75rem;
    width: 1.75rem;
    transition: background-color 0.1s;
    cursor: pointer;
    font-size: 1rem;
    color: var(--Surface2);
    border-radius: 0.5rem;
}

.disabled-button {
    background-color: var(--OutlineVariant);
    cursor: not-allowed;
}

.enabled-button {
    background-color: var(--Outline);
    /*background-color: var(--Primary);*/
}

/*     .send-button:hover:not(:disabled) {
        background-color: var(--OutlineVariant);
        } */

.input-textarea-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}