.sidebar-container {
}

.sidebar-hidden {
    visibility: hidden;
    display: none;
}

.sidebar-toggled {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: var(--Surface);
}

sidebar-content {
    flex-grow: 1;
}

.resize-handle {
    cursor: ew-resize;
    width: 8px;
    background-color: var(--OutlineVariant);
}

.resize-handle:hover{
}

.fixed-sidebar{
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}

.resizable-sidebar {
    min-width: 150px;
    max-width: 500px;
    width: 300px;
}

