.setting-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    vertical-align: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

::deep .setting-field {
    min-width: 60px !important;
    max-width: 60px !important;
    text-align: right !important;
}