@inherits ComponentBase

<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text="General settings">
        <MudStack Spacing="6">
            <div class="setting-container">
                <MudText>
                    Chatbot purpose
                </MudText>

                <MudTextField Variant="Variant.Outlined"
                              Lines="5"
                              Value="ViewModel.SystemPrompt"/>
            </div>


            <NumericSetting @bind-Value="ViewModel.MaximumCompletionTokens"
                            Title="Maximum completion tokens"
                            Variant="NumericSettingVariant.Optional" />


            <NumericSetting @bind-Value="ViewModel.RequestTimeout"
                            Title="Request timeout (sec)"
                            MinValue="10"
                            MaxValue="120" />

            <NumericSetting @bind-Value="ViewModel.RequestTimeout"
                            Title="Context size"
                            MinValue="512"
                            MaxValue="32768" />
        </MudStack>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Samping configuration">
    </MudExpansionPanel>
</MudExpansionPanels>

@code
{
    [Parameter] public SettingsViewModel ViewModel { get; set; }

}