#input-border {
    max-width: 800px;
}

#input-border {
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    width: 100%;
    border: 1px solid var(--OutlineVariant);
    transition: background-color 0.3s, border-color 0.3s;
    background-color: var(--Surface15);
    border-radius: 1rem;
}

    #input-border:focus-within {
        background-color: var(--Surface2);
        border-color: var(--OutlineVariant);
    }


#input-text {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    overflow-y: auto;
    border: none;
    outline: none;
    resize: none;
    height: auto;
    font-size: 1rem;
    font-family: 'Roboto','Helvetica','Arial','sans-serif';
    color: var(--OnSurface);
    background-color: transparent;
    scrollbar-gutter: stable;
    max-height: 12rem;
    scrollbar-gutter: both-edges stable;
}

    #input-text::-webkit-scrollbar-thumb {
        background-color: var(--Outline) !important;
    }

.send-button-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0.5rem;
    grid-column: 2;
}

.send-button {
    height: 1.75rem;
    width: 1.75rem;
    transition: background-color 0.1s, border-color 0.1s;
    cursor: pointer;
    font-size: 0.75rem;
    color: var(--Surface2);
    border-radius: 0.5rem;
    background-color: transparent;
}

.disabled-button {
    background-color: transparent;
    color: var(--Outline);
    cursor: not-allowed;
}

.enabled-button {
    color: var(--Surface2);
    background-color: var(--Outline);
    /*background-color: var(--Outline);*/
    /*background-color: var(--Primary);*/
}

/*     .send-button:hover:not(:disabled) {
        background-color: var(--OutlineVariant);
        } */

#input-textarea-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
}


.input-textarea-initial {
    padding-block: 0.5rem;
    /*background-color: blue;*/
}

.input-textarea-multiline {
    padding-top: 0.5rem;
    padding-bottom: 2.25rem;
    /*background-color: green;*/
}
