@inherits ComponentBase

<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text="General settings">
        <MudStack>

            <div>
                <MudText>
                    Chatbot purpose
                </MudText>

                <MudTextField Lines="5" Value="ViewModel.SystemPrompt"/>
            </div>

            <div>
                <MudText>
                    Maximum completion tokens
                </MudText>

                <MudTextField Value="ViewModel.MaximumCompletionTokens"/>
            </div>

            <div>
                <MudText>
                    Request timeout
                </MudText>

                <MudTextField Value="ViewModel.RequestTimeout"/>
            </div>


                        <div>
                <MudText>
                    Context size
                </MudText>

                <MudTextField Value="ViewModel.ContextSize"/>
            </div>

        </MudStack>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Samping configuration">
    </MudExpansionPanel>
</MudExpansionPanels>

@code
{
    [Parameter] public SettingsViewModel ViewModel { get; set; }
}