.sidebar-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-width: 300px;
    max-width: 500px;
    width: 300px;
    background-color: var(--Surface);
}

.sidebar-hidden {
    visibility: hidden;
    display: none;
}

#sidebar-content {
    flex-grow: 1;
}

#resize-handle {
    cursor: ew-resize;
    width: 1px;
    background-color: var(--OutlineVariant);
}

#resize-handle:hover{
    width: 2px;
}

.fixed-sidebar{
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}

.resizable-sidebar {
    min-width: 300px;
    max-width: 500px;
    width: 300px;
}
