@inherits ComponentBase

<div @onclick="() => OnSelect.InvokeAsync(ViewModel)" id="item-container" class="@(IsSelected ? "item-selected" : "")">
    <MudText Typo="Typo.subtitle1" Inline=true>
        @ViewModel.Title
    </MudText>

    <div id="show-more-button" class="@(IsSelected ? "show" : "hide")">
        <MudIconButton @onclick="() => ViewModel.IsShowingActionPopup = true"
                       Icon="@Icons.Material.Filled.MoreHoriz"
                       Size="Size.Small"
                       Color="Color.Dark" />
    </div>
</div>

@code
{
    [Parameter] public EventCallback<ConversationViewModel> OnSelect { get; set; }
    [Parameter] public EventCallback<ConversationViewModel> OnShowMore { get; set; }
    [Parameter] public required ConversationViewModel ViewModel { get; set; }
    [Parameter] public bool IsSelected { get; set; }
}