@inherits ComponentBase

<div @onclick="() => OnClicked()" id="item-container" class="@(IsSelected ? "item-selected" : "")">
    <MudText Typo="Typo.subtitle1" Inline=true >
        @ViewModel.Title
    </MudText>

    <MudIconButton Icon="@Icons.Material.Filled.MoreHoriz" Size="Size.Small" Color="Color.Dark" />
</div>

@code
{
    [Parameter] public EventCallback<ConversationViewModel> OnSelect { get; set; }
    [Parameter] public EventCallback<ConversationViewModel> OnShowMore { get; set; }
    [Parameter] public required ConversationViewModel ViewModel { get; set; }
    [Parameter] public bool IsSelected { get; set; }

    private void OnClicked()
    {
        OnSelect.InvokeAsync(ViewModel);
    }
}   