@inherits ComponentBase

<div id="expander-container">

    <div id="expander-header" @onclick="ToggleExpansion">
        <div class="d-flex justify-space-between flex-grow-1 align-center">
            <MudText Typo="Typo.caption">
                @Title
            </MudText>

            <MudIcon Class="@GetIconRotateClass()" Icon="fas fa-chevron-down" Size="Size.Small" Color="Color.Dark"/>
        </div>
    </div>

    @if (_isExpanded)
    {
        <MudDivider />

        <div id="expander-content">
            @ChildContent
        </div>
    }
</div>


@code {
    private bool _isExpanded;
    private bool IsExpanded
    {
        get => _isExpanded;
        set
        {
            if (value != _isExpanded)
            {
                _isExpanded = value;
                InvokeAsync(() => StateHasChanged());
            }
        }
    }

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void ToggleExpansion()
    {
        IsExpanded = !IsExpanded;
    }

    private string GetIconRotateClass()
    {
        return IsExpanded ? "rotate-180" : "";
    }
}