#expander-container {
}

#expander-header {
    padding-block: 8px;
    padding-inline: 12px;
    cursor: pointer;
    background-color: var(--Surface2);
}

    #expander-header:hover {
        background-color: var(--Surface15);
    }

#expander-content {
    background-color: var(--Surface15);
}


.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

::deep .mud-icon-size-small {
    font-size: 0.66rem !important;
}