<button class="@(GetClasses())" @onclick="() => OnClick.InvokeAsync()">
    <span class="fas @Icon" />
</button>

@code {
    [Parameter]
    public ButtonStyle Style { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }


    public enum ButtonStyle
    {
        Icon,
        SidebarToggle,
        SecondaryAction
    }

    private string GetClasses()
    {
        switch (Style)
        {
            default:
            case ButtonStyle.Icon:
                return "icon-button";

            case ButtonStyle.SidebarToggle:
                return "sidebar-toggle-button";

            case ButtonStyle.SecondaryAction:
                return "secondary-action-button";
        }
    }
}