button {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 32px;
    min-height: 32px;
}

body.mac.button {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

body.windows.icon-button {
    width: 32px;
    height: 32px;
    font-size: 16px;
}

.icon-button {
    font-size: 12px;
    background-color: transparent;
}

.sidebar-toggle-button {
    display: flex;
    border-radius: 4px;
    text-align: center;
    background-color: var(--Surface2);
    color: var(--OnSurface);
}

    .sidebar-toggle-button:hover {
        background-color: var(--Primary);
    }

.secondary-action-button {
    border-radius: 50%;
    color: var(--Outline);
    background-color: var(--Surface2);
}

    .secondary-action-button:hover {
        background-color: var(--Surface3);
    }
