<button class="@(GetClasses())" @onclick="() => OnClick.InvokeAsync()" title="@Tooltip">
    <span class="fas @Icon" />
</button>

@code {
    [Parameter]
    public ButtonStyle Style { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public ButtonSize Size { get; set; }

    [Parameter]
    public string? Tooltip { get; set; }

    public enum ButtonSize
    {
        Medium,
        Small
    }

    public enum ButtonStyle
    {
        Icon,
        SidebarToggle,
        SecondaryAction
    }

    private string GetClasses()
    {
        string classes = "";

        switch (Style)
        {
            default:
            case ButtonStyle.Icon:
                classes += "icon-button";
                break;

            case ButtonStyle.SidebarToggle:
                classes += "sidebar-toggle-button";
                break;
            case ButtonStyle.SecondaryAction:
                classes += "secondary-action-button";
                break;
        }

        switch (Size)
        {
            default:
            case ButtonSize.Medium:
                classes += " icon-button-medium";
                break;

            case ButtonSize.Small:
                classes += " icon-button-medium";
                break;
        }

        return classes;
    }
}