<button class="@(GetClasses())" onclick="OnButtonClicked">
    <span class="fas @Icon" />
</button>

@code {
    [Parameter]
    public IconButtonStyle Style { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    public enum IconButtonStyle
    {
        Round,
        Square
    }

    private void OnButtonClicked()
    {
        OnClick.InvokeAsync();
    }

    private string GetClasses()
    {
        switch (Style)
        {
            default:
            case IconButtonStyle.Round:
                return "round-button";

            case IconButtonStyle.Square:
                return "square-button";
        }
    }
}