@typeparam T

<div @ref="_parentDiv" id="list-item-container">
    <div @onclick="OnItemClicked"
         @oncontextmenu="HandleRightClick"
         @oncontextmenu:preventDefault="true"
         @onmouseover="OnMouseOver"
         @onmouseout="OnMouseOut"
         class="list-item-content @(LimitWidth ? "max-width" : "")"
    >
        @ChildContent
    </div>

    <MudOverlay @bind-Visible="ListItemViewModel.IsShowingActionSheet" AutoClose="true" />

    <div style="position: absolute; left: @($"{_popoverX}px"); top:@($"{_popoverY}px")">
        <MudPopover AnchorOrigin="Origin.TopLeft" Open="ListItemViewModel.IsShowingActionSheet" Fixed="true">
            @ActionSheet
        </MudPopover>
    </div>
</div>

<style>
    #list-item-container {
        position: relative;
        padding: 20px;
        background-color: red;
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .max-width{
        max-width: 75rem;
    }

    .list-item-content{
        background-color: green;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 20px;
        justify-content: center;
        /*         display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        width: max-content;
        justify-content: center;
        margin-inline: auto; */
    }
</style>
