@typeparam T

<div @ref="_parentDiv" id="list-item-container">
    <div @onclick="OnItemClicked"
    @oncontextmenu="HandleRightClick"
    @oncontextmenu:preventDefault="true">
        @ChildContent
    </div>

    <MudOverlay @bind-Visible="IsShowingActionSheet" AutoClose="true" />

    <div style="position: absolute; left: @($"{_popoverX}px"); top:@($"{_popoverY}px")">
        <MudPopover AnchorOrigin="Origin.TopLeft" Open="@IsShowingActionSheet" Fixed="true">
            @ActionSheet
        </MudPopover>
    </div>
</div>

<style>
    #list-item-container {
        position: relative;
    }
</style>
