<div @ref="_parentDiv" id="list-item-container">
    <div @onclick="OnItemClicked">
        @ChildContent
    </div>

    <MudOverlay @bind-Visible="_isShowingActionSheet" AutoClose="true" />

    <div style="position: absolute; left: @($"{_popoverX}px"); top:@($"{_popoverY}px")">
        <MudPopover AnchorOrigin="Origin.TopLeft" Open="@_isShowingActionSheet" Fixed="true">
            @ActionSheet
        </MudPopover>
    </div>
</div>

@code {
    private ElementReference _parentDiv;
    private bool _isShowingActionSheet;
    private int _popoverX;
    private int _popoverY;

    [Parameter] public required RenderFragment ChildContent { get; set; }

    [Parameter] public required RenderFragment ActionSheet { get; set; }


    private async Task OnItemClicked(MouseEventArgs e)
    {
        var rect = await _parentDiv.GetClientRectAsync();

        // Debug.WriteLine($"{rect.X} : {rect.Y}  -   {e.ClientX} : {e.ClientY} y----> " + _popoverY);
        _popoverX = (int)(e.ClientX - rect.Left);
        _popoverY = (int)(e.ClientY - rect.Top);
        _isShowingActionSheet = !_isShowingActionSheet;

        StateHasChanged();
    }
}

<style>
    #list-item-container {
        position: relative;
    }
</style>
