@inject LMKitService LMKitService

<div class="root-container">
    <div id="button-text">
        <MudText Align="Align.Center" Typo="Typo.subtitle1">@Text</MudText>
    </div>

    @if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loading && ModelListViewModel.LoadingProgress != null)
    {
    }
    <div id="progress-bar">
        <MudProgressLinear Color="Color.Primary" Value="@ModelListViewModel.LoadingProgress.Value" Class="my-7" />
    </div>
</div>

<style>
    .root-container {
        width: 100%;
        max-width: 568px;
        border: 2px solid var(--Primary);
        border-radius: 4px;
        height: 48px;
        display: flex;
        flex-direction: column;
    }

    #button-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #progress-bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--Outline);
    }
</style>

@code {
    [Parameter]
    public ModelListViewModel ModelListViewModel { get; set; }


    private string _text = Locales.SelectModel;


    private string Text
    {
        get => _text;
        set
        {
            if (_text != value)
            {
                _text = value;
                InvokeAsync(() => StateHasChanged());
            }
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        Text = GetModelStateText(ModelListViewModel);
        ModelListViewModel.PropertyChanged += OnModelListViewModelPropertyChanged;
    }

    private void OnModelListViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == nameof(ModelListViewModel.LoadingState))
        {
            Text = GetModelStateText(ModelListViewModel);
        }
    }

    private static string GetModelStateText(ModelListViewModel modelListViewModel)
    {
        switch (modelListViewModel.LoadingState)
        {
            default:
            case ModelListViewModel.ModelLoadingState.NotLoaded:
                return Locales.SelectModel;

            case ModelListViewModel.ModelLoadingState.Loaded:
                return modelListViewModel.SelectedModel!.Name;

            case ModelListViewModel.ModelLoadingState.Loading:
                return Locales.LoadingModel;

            case ModelListViewModel.ModelLoadingState.FinishinUp:
                return Locales.FinishingUp;

            case ModelListViewModel.ModelLoadingState.Downloading:
                return Locales.DownloadingModel;
        }
    }
}
