#model-selection-button-root {
    width: 100%;
    max-width: 568px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin-inline: 16px;
}

#model-selection-button-container {
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    #model-selection-button-container:hover {
        background-color: var(--Surface);
        cursor: pointer;
    }

.button-model-loaded {
    background-color: var(--Surface2);
    border: 1px solid var(--Primary);
}

.button-model-unloaded {
    background-color: var(--Surface2);
    border: 1px solid var(--Surface3);
}

.button-model-loading {
    pointer-events: none;
    background-color: var(--Surface);
    border: 1px solid var(--Surface3);
}

#button-body {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 40px 1fr 40px;
    flex: 1;
}

#button-text {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-wrapper {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

#progress-bar {
    bottom: 0;
    width: 100%;
}

::deep .mud-progress-linear-bar {
    background-color: var(--Primary) !important;
}

.mud-icon-size-small {
    font-size: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 8px !important;
}


::deep .eject-button {
    color: var(--Primary) !important;
    background-color: var(--Surface2) !important;
    padding: 0.5rem !important;
}

    ::deep .eject-button:hover {
        background-color: var(--Surface3) !important;
    }

::deep .mud-icon-size-small {
    font-size: 0.66rem !important;
}