@inject LMKitService LMKitService

<div>
    <MudText Typo="Typo.subtitle1">@Text</MudText>

    @if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loading && ModelListViewModel.LoadingProgress != null)
    {
        <MudProgressLinear Color="Color.Primary" Value="@ModelListViewModel.LoadingProgress.Value" Class="my-7" />
    })
</div>

@code {
    [Parameter]
    public ModelListViewModel ModelListViewModel { get; set; }


    private string _text = Locales.SelectModel;


    private string Text
    {
        get => _text;
        set
        {
            if (_text != value)
            {
                _text = value;
                InvokeAsync(() => StateHasChanged());
            }
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        Text = GetModelStateText(ModelListViewModel);
        ModelListViewModel.PropertyChanged += OnModelListViewModelPropertyChanged;
    }

    private void OnModelListViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == nameof(ModelListViewModel.ModelLoadingState))
        {
            Text = GetModelStateText(ModelListViewModel);
        }
    }

    private static string GetModelStateText(ModelListViewModel modelListViewModel)
    {
        switch (modelListViewModel.LoadingState)
        {
            default:
            case ModelListViewModel.ModelLoadingState.NotLoaded:
                return Locales.SelectModel;

            case ModelListViewModel.ModelLoadingState.Loaded:
                return modelListViewModel.SelectedModel!.Name;

            case ModelListViewModel.ModelLoadingState.Loading:
                return Locales.LoadingModel;

            case ModelListViewModel.ModelLoadingState.FinishinUp:
                return Locales.FinishingUp;

            case ModelListViewModel.ModelLoadingState.Downloading:
                return Locales.DownloadingModel;
        }
    }
}
