<MudDialog Class="dialog-top-left">
    <DialogContent>
        @* <MudOverlay Absolute="true" Style="background-color: green; padding: 20px" Visible="true" AutoClose="true" /> *@

        <div class="container">
            <div @onclick="() => MudDialog.Cancel()" class="backdrop"></div>
            <div class="models-popover-container">
                <MudStack Spacing="0">
                    <div class="models-popover-header">
                        <MudText Class="outline flex-grow-1" Typo="Typo.caption">
                            Available models
                        </MudText>

                        <div class="d-flex justify-end close-button">
                            <IconButton Style="IconButton.ButtonStyle.Icon"
                                        Icon="fas fa-close"
                                        Size="IconButton.ButtonSize.Small"
                                        OnClick="() => MudDialog.Cancel()" />
                        </div>
                    </div>
                    <MudDivider />
                </MudStack>

                <div class="models-popover-body hover-scrollable-no-gutter">
                    <ModelList Selectable="true" Dense="true" />
                </div>
            </div>
        </div>
    </DialogContent>

</MudDialog>

<style>

    .backdrop{
        background-color: darkslateblue;
        opacity: 0.2;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .container{
        background-color: red;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .dialog-top-left {
        left: 0 !important;
        top: 0 !important;
    }

    .models-popover-container {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--OutlineVariant);
        border-radius: 8px;
        background-color: mediumvioletred;
        padding: 20px;
        width: 40rem;
    }

    .models-popover-header {
        padding-inline: 4px;
        padding-block: 4px;
        background-color: var(--Surface15);
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        border-radius: 8px;
    }

    .models-popover-body {
        background-color: var(--Surface2);
        max-height: 496px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .close-button {
        color: var(--Outline) !important;
    }

        .close-button:hover {
            color: var(--OnSurface) !important;
        }

</style>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();
}