.model-card {
    flex-direction: row;
    padding: 1rem;
    border: 1px solid var(--OutlineVariant);
    border-radius: 0.25rem;
    background-color: var(--Surface2);
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
}

.model-card-focused {
    background-color: pink !important;
}

.model-card-dense {
    padding: 8px;
    border: none;
}


.model-card-selectable:hover {
    cursor: pointer;
}

.primary {
    color: var(--Primary);
}

.secondary {
    color: var(--Secondary);
}

.tertiary {
    color: var(--Tertiary);
}

.item-actions {
    padding: 4px;
    background-color: var(--Surface3);
}

.score-1 {
    background-color: #FA8168;
    color: #FA8168;
}

.score-2 {
    background-color: #FFD21E;
    color: #FFD21E;
}

.score-3 {
    background-color: #1C8736;
    color: #1C8736;
}