@page "/models"

@inject ISnackbar Snackbar
@inherits MvvmComponentBase<ModelsPageViewModel>

<SectionContent SectionName="top-bar">

    <div class="d-flex flex-row gap-2 justify-center align-center align-content-center">
        <span>
            Model folder: 
        </span>

        <div id="model-folder-container">
            <MudTextField @bind-Value="ViewModel.AppSettingsService.ModelStorageDirectory"/>
        </div>

        <IconButton Style="IconButton.ButtonStyle.SecondaryAction"
                    Icon="fas fa-edit"
                    OnClick="ViewModel.OpenModelsFolder"/>

        <IconButton Style="IconButton.ButtonStyle.SecondaryAction"
                    Icon="fas fa-folder-open"
                    OnClick="ViewModel.OpenModelsFolder"/>
    </div>
</SectionContent>

<div>
    @foreach (var model in ViewModel.ModelListViewModel.Models)
    {
       <div>
               @(model.Name)
        </div>
    }
</div>

<style>
    #model-folder-container {
        max-width: 500px;
    }
</style>