.model-card-root {
    flex-direction: row;
    border: 1px solid var(--OutlineVariant);
    border-radius: 0.25rem;
    background-color: var(--Surface2);
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    /*padding: 1rem;*/
}

.model-card-focused {
    background-color: var(--Surface15);
}

.model-card-dense {
    padding: 0.5rem;
    border: none;
}


.model-card-selectable:hover {
    cursor: pointer;
}

.primary {
    color: var(--Primary);
}

.secondary {
    color: var(--Secondary);
}

.tertiary {
    color: var(--Tertiary);
}

.item-actions {
    padding: 4px;
    background-color: var(--Surface3);
}

.score-1 {
    background-color: #FA8168;
    color: #FA8168;
}

.score-2 {
    background-color: #FFD21E;
    color: #FFD21E;
}

.score-3 {
    background-color: #1C8736;
    color: #1C8736;
}