@inject LMKitService LMKitService
@inject IDialogService DialogService

<div id="model-selection-button-root">
    <div id="model-selection-button-container"
         class="@(GetButtonContainerClasses(ModelListViewModel))"
         @onclick="() => OnButtonClicked()">
        <div id="button-body">
            <div class="d-flex justify-center">
                @if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loaded)
                {
                    <MudIconButton Icon="fas fa-eject"
                                   Size="Size.Small"
                                   Class="eject-button"
                                   OnClick="OnEjectButtonClicked"/>
                }
            </div>

            <div id="button-text">
                <div class="text-wrapper">
                    <MudText Align="Align.Center" Typo="Typo.caption">
                        @Text
                    </MudText>
                </div>

            </div>

            @if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.NotLoaded ||
                 ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loaded)
            {
                <div class="d-flex justify-center">
                    <MudIcon Icon="fas fa-chevron-down" Size="Size.Small" Color="Color.Dark"/>
                </div>
            }
        </div>

        @if (ModelListViewModel.LoadingState is ModelListViewModel.ModelLoadingState.Loading or
                     ModelListViewModel.ModelLoadingState.Downloading && ModelListViewModel.LoadingProgress != null)
        {
            <div id="progress-bar">
                <MudProgressLinear Value="@(ModelListViewModel.LoadingProgress.Value * 100)"/>
            </div>
        }
    </div>

    <MudOverlay DarkBackground="true"  @bind-Visible="_isShowingModelList" AutoClose="true"/>
    <MudPopover TransformOrigin="Origin.TopCenter"
                AnchorOrigin="Origin.TopCenter"
                RelativeWidth="DropdownWidth.Adaptive"
                Class="models-popover-container"
                Style="--mud-palette-surface: transparent"
                Open="@_isShowingModelList">
        <div class="models-popover-container">
            <div class="models-popover-header">
                    <MudText Class="outline flex-grow-1" Typo="Typo.caption">
                        Available models
                    </MudText>

                <div class="d-flex justify-end close-button">
                    <IconButton Style="IconButton.ButtonStyle.Icon"
                                Icon="fas fa-close"
                                Size="IconButton.ButtonSize.Small"
                                OnClick="() => _isShowingModelList = false"/>
                </div>
            </div>
            <div class="model-list-container hover-scrollable">
                <ModelList OnClick="OnModelClicked"/>
            </div>
        </div>
    </MudPopover>
</div>