@inject LMKitService LMKitService
@inject IDialogService DialogService

<div id="model-selection-button-root">
    <div id="model-selection-button-container"
         class="@(GetButtonContainerClasses(ModelListViewModel))"
         @onclick="() => OnButtonClicked()">
        <div id="button-body">
            <div class="d-flex justify-center">
                @if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loaded)
                {
                    <MudIconButton Icon="fas fa-eject"
                                   Size="Size.Small"
                                   Class="eject-button"
                                   OnClick="OnEjectButtonClicked"/>
                }
            </div>

            <div id="button-text">
                <div class="text-wrapper">
                    <MudText Align="Align.Center" Typo="Typo.overline">
                        @Text
                    </MudText>
                </div>

            </div>

            @if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.NotLoaded ||
                 ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loaded)
            {
                <div class="d-flex justify-center">
                    <MudIcon Icon="fas fa-chevron-down" Size="Size.Small" Color="Color.Dark"/>
                </div>
            }
        </div>

        @if (ModelListViewModel.LoadingState is ModelListViewModel.ModelLoadingState.Loading or
                     ModelListViewModel.ModelLoadingState.Downloading && ModelListViewModel.LoadingProgress != null)
        {
            <div id="progress-bar">
                <MudProgressLinear Value="@(ModelListViewModel.LoadingProgress.Value * 100)"/>
            </div>
        }
    </div>

    <MudOverlay @bind-Visible="_isShowingModelList" AutoClose="true"/>
    <MudPopover TransformOrigin="Origin.TopCenter" AnchorOrigin="Origin.TopCenter" RelativeWidth="DropdownWidth.Adaptive" Class="models-popover-container"
                Open="@_isShowingModelList">
        <div class="model-list-container hover-scrollable">
            <ModelList OnClick="OnModelClicked"/>
        </div>
    </MudPopover>
</div>