@page "/models"

@inject ISnackbar Snackbar
@using LMKit.Maestro.Helpers
@inherits MvvmComponentBase<ModelsPageViewModel>

<SectionContent SectionName="top-bar">

    <div class="d-flex flex-row gap-2 justify-center align-center align-content-center">
        <span>
            Model folder:
        </span>

        <div id="model-folder-container">
            <MudTextField @bind-Value="ViewModel.AppSettingsService.ModelStorageDirectory" />
        </div>

        <IconButton Style="IconButton.ButtonStyle.SecondaryAction"
                    Icon="fas fa-edit"
                    OnClick="ViewModel.OpenModelsFolder" />

        <IconButton Style="IconButton.ButtonStyle.SecondaryAction"
                    Icon="fas fa-folder-open"
                    OnClick="ViewModel.OpenModelsFolder" />
    </div>
</SectionContent>

<div id="model-page-container">
    <div>
        <MudText Align="Align.Center">
            @if (ViewModel.FileManager.Models.Count > 0)
            {
                <span>You have</span>
                <span><b> @(ViewModel.FileManager.Models.Count) </b></span>
                <span> @(ViewModel.FileManager.Models.Count > 1 ? "models" : "model") </span>
                <span> taking up </span>
                <span><b> @(FileHelpers.FormatFileSize(ViewModel.FileManager.TotalModelSize))</b></span>
            }
        </MudText>
    </div>

    <div id="model-list-container">
        @foreach (var model in ViewModel.ModelListViewModel.Models)
        {
            <ModelListItem ViewModel="model" />
        }
    </div>

    <div class="bottom-space">
        <div id="hf-link" class="d-flex flex-row align-center gap-2">
            <img width="20" height="20" src="huggingface.svg" />

            <span class="hf-link">
                Explore more models
            </span>
        </div>
    </div>
</div>

<style>
    #model-page-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 40px;
        padding: 20px;
    }

    #model-folder-container {
        max-width: 500px;
        flex-grow: 1;
    }

    #model-list-container {
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
    }


    .bottom-space {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #hf-link {
        cursor: pointer;
        color: var(--Outline);
    }

        #hf-link:hover {
            color: #FFD21E;
        }

</style>

@code {
    private void OnDeleteClicked(ModelInfoViewModel modelInfoViewModel)
    {
        ViewModel.DeleteModel(modelInfoViewModel);
    }

    private void OnModelOpenInExplorerClicked(ModelInfoViewModel modelInfoViewModel)
    {
        ViewModel.OpenModelInExplorer(modelInfoViewModel);
    }

    private void OnModelOpenHfLinkClicked(ModelInfoViewModel modelInfoViewModel)
    {
        ViewModel.OpenModelInExplorer(modelInfoViewModel);
    }
}