<MudDialog Class="dialog-root-container">
    <DialogContent>
        <div class="dialog-content-root">
            <div @onclick="() => MudDialog.Cancel()" class="dialog-backdrop"></div>
            <div class="model-selection-dialog-container">
                <MudStack Spacing="0">
                    <div class="model-selection-dialog-header">
                        <MudText Class="outline flex-grow-1" Typo="Typo.caption">
                            Available models
                        </MudText>

                        <div class="d-flex justify-end close-button">
                            <IconButton Style="IconButton.ButtonStyle.Icon"
                                        Icon="fas fa-close"
                                        Size="IconButton.ButtonSize.Small"
                                        OnClick="() => MudDialog.Cancel()" />
                        </div>
                    </div>
                    <MudDivider />
                </MudStack>

                <div class="model-selection-dialog-body hover-scrollable-no-gutter">
                    <ModelList LimitWidth="false" Selectable="true" Dense="true" />
                </div>
            </div>
        </div>
    </DialogContent>

</MudDialog>

<style>

    .dialog-content-root{
        height: 100%;
        max-height: 800px;
        display: flex;
        justify-content: center;
        background-color: blue;
    }

    .dialog-backdrop {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: transparent;
    }

    .dialog-root-container {
        left: 0 !important;
        top: 0 !important;
        background-color: transparent !important;
    }


        .dialog-top-left ::-webkit-scrollbar-thumb {
        background-color: green !important;
    }
    .model-selection-dialog-container {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--OutlineVariant);
        border-radius: 8px;
        background-color: mediumvioletred;
        padding: 20px;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .model-selection-dialog-body::-webkit-scrollbar-thumb {
        background-color: red !important;
    }

    .model-selection-dialog-header {
        padding-inline: 4px;
        padding-block: 4px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .model-selection-dialog-body {
        background-color: var(--Surface2);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .close-button {
        color: var(--Outline) !important;
    }

        .close-button:hover {
            color: var(--OnSurface) !important;
        }

</style>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();
}