@inject ModelListViewModel ModelListViewModel

<ListItemWrapper>
    <ChildContent>
        <ModelListItem ViewModel="ViewModel" />
    </ChildContent>

    <ActionSheet>
        <div class="d-flex flex-column item-actions">
            @if (ViewModel.IsLocallyAvailable)
            {
                <MudButton Variant="Variant.Text"
                           @onclick="() => ModelListViewModel.OpenModelInExplorer(ViewModel)">
                    <MudText Typo="Typo.subtitle2">Reveal in explorer</MudText>
                </MudButton>
            }

            <MudButton Variant="Variant.Text" @onclick="() => ModelListViewModel.OpenModelHfLink(ViewModel)">
                <MudText Typo="Typo.subtitle2">Open on Hugging Face</MudText>
            </MudButton>

            @if (ViewModel.IsLocallyAvailable)
            {
                <MudButton Variant="Variant.Text" @onclick="() => ModelListViewModel.DeleteModel(ViewModel)">
                    <MudText Color="Color.Error" Typo="Typo.subtitle2">Delete from disk</MudText>
                </MudButton>
            }
        </div>
    </ActionSheet>
</ListItemWrapper>

@code {
    [Parameter] public required ModelInfoViewModel ViewModel { get; set; }


}