@typeparam T
@inherits ComponentBase

<div class="setting-container">
    <div class="d-flex flex-row justify-space-between align-center">
        <MudText Typo="Typo.subtitle2">
            @Title
        </MudText>

        <NumericTextField @bind-Value="Value" MinValue="MinValue" MaxValue="MaxValue" />
    </div>

    <MudSlider T="T"
                @bind-Value="Value"
                Min="MinValue"
                Max="MaxValue"
                Color="Color.Secondary"
                Step="Increment"
                Variant="MudBlazor.Variant.Filled" />
</div> 