@typeparam T
@inherits ComponentBase

<div class="setting-container">
    <div class="flex-row">
        <MudText Typo="Typo.subtitle2">
            @Title
        </MudText>

        <MudTextField Class="setting-field"
                      Margin="Margin.Dense"
                      Variant="MudBlazor.Variant.Outlined"
                      @onfocusout="OnInputFocusOut"
                      @onkeydown="OnKeyDown"
                      @bind-Value="_inputText" />
    </div>

    @if (Variant == NumericSettingVariant.Default)
    {
        <MudSlider T="T"
                   @bind-Value="Value"
                   Min="MinValue"
                   Max="MaxValue"
                   Color="Color.Primary"
                   Variant="MudBlazor.Variant.Filled" />
    }
</div> 