.setting-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/*::deep .mud-slider-container {
    text-shadow: var(--mud-palette-white) !important;
}

::deep .mud-slider-filled {
}*/