.setting-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

::deep .setting-field {
    max-width: 64px !important;
    min-width: 64px !important;
}

    ::deep .setting-field .mud-input-root {
        text-align: right !important;
        padding-inline: 8px !important;
        padding-block: 8px !important;
        /*padding-block-start: 0 !important;*/
        /*padding-block-end: 0 !important;*/
    }
