@inject IJSRuntime JS

<div id="input-border" class="input-border-small">
    <textarea rows="1" id="input-text" @bind="ViewModel.InputText" @onkeydown="OnKeyDown" @bind:event="oninput" />

    @*     <button disabled="@(!ViewModel.AwaitingResponse && !CanSubmit)" @onclick="OnSubmitButtonClicked"
            class="send-button round-button @(CanSubmit || ViewModel.AwaitingResponse ? "enabled-button" : "disabled-button")">
        @if (!ViewModel.AwaitingResponse)
        {
            <span>
                <i class="fas fa-arrow-up"></i>
            </span>
        }
        else
        {
            <span>
                <i class="fas fa-stop"></i>
            </span>
        }
    </button> *@
</div>

<script>

            function resizeUserInput() {
            const inputText = document.getElementById('input-text');
            const inputBorder = document.getElementById('input-border');

            // Reset height to auto to shrink it when needed
            inputText.style.height = "auto";

            // Set the height based on scrollHeight
            const height = inputText.scrollHeight;
            inputText.style.height = `${height}px`;

            // document.body.removeChild(clone);

            var lineCount = countLines(inputText);

            console.error("---------------");
            console.error("set height:" + inputText.style.height);
            console.error("line count: " + lineCount);

            if (lineCount > 1) {
                inputBorder.classList.add('input-border-large');
                inputBorder.classList.remove('input-border-small');
            } else {
                inputBorder.classList.add('input-border-small');
                inputBorder.classList.remove('input-border-large');
            }
        }

    document.getElementById('input-text').addEventListener('keydown', function (e) {
        if (e.key == 'Enter' && !e.shiftKey) {
            // prevent default behavior
            e.preventDefault();
            return false;
        }
    }, false);
</script>
@code
{
    private bool _shouldResizeTextarea;

    bool _canSubmit;

    private bool CanSubmit
    {
        get => _canSubmit;
        set
        {
            if (_canSubmit != value)
            {
                _canSubmit = value;
                StateHasChanged();
            }
        }
    }

    [Parameter] public EventCallback OnSubmit { get; set; }

    [Parameter] public required AssistantSessionViewModelBase ViewModel { get; set; }

    [Parameter] public EventCallback<AssistantSessionViewModelBase> ViewModelChanged { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        ViewModel.PropertyChanged += OnViewModelPropertyChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // if (firstRender)
        // {
        //     await inputTextArea.FocusAsync();
        //     await JS.InvokeVoidAsync("setUserInputFocus");
        // }

        if (_shouldResizeTextarea)
        {
            _shouldResizeTextarea = false;
            await JS.InvokeVoidAsync("resizeUserInput");
        }
    }

    private async Task OnSubmitButtonClicked()
    {
        if (!ViewModel.AwaitingResponse)
        {
            if (CanSubmit)
            {
                Submit();
            }
        }
        else
        {
            await ViewModel.Cancel();
        }
    }

    private void OnKeyDown(KeyboardEventArgs keyboardEventArgs)
    {
        if (keyboardEventArgs.Key == "Enter")
        {
            if (!keyboardEventArgs.ShiftKey && CanSubmit)
            {
                Submit();
            }
        }
    }

    private void Submit()
    {
        ViewModel.Submit();
        StateHasChanged();
    }

    private void OnViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == nameof(AssistantSessionViewModelBase.InputText))
        {
            // Resize the textarea whenever the input text changes.
            _shouldResizeTextarea = true;
        }

        CanSubmit = !string.IsNullOrWhiteSpace(ViewModel.InputText) && !ViewModel.AwaitingResponse;
    }
}