body.mac #input-border {
    max-width: 1000px;
}

body.windows #input-border {
    max-width: 800px;
}

#input-border {
    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
    border: 2px solid transparent;
    transition: border-color 0.1s;
    background-color: purple;
}

    #input-border:focus-within {
        border-color: var(--OutlineVariant);
    }
     
.input-border-small {
    padding-block: 8px;
    border-radius: 32px;
}

.input-border-large {
    border-radius: 16px;
    padding-bottom: 32px;
    padding-top: 12px;
}


#input-text {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    overflow-y: auto;
    border: none;
    outline: none;
    resize: none;
    height: auto;
    font-family: system-ui, sans-serif;
    color: white;
    background-color: transparent;
    scrollbar-gutter: stable;
/*    white-space: pre-wrap;
    word-wrap: break-word;*/
    /*background-color: transparent;*/
}

.input-border-large #input-text {
    max-height: 200px;
/*    margin-top: 8px;
    margin-bottom: 28px;
*/}

.input-border-small #input-text {
    /*margin-block: auto;*/
}

body.windows #input-text {
    font-size: 16px;
    padding-right: 32px;
    padding-left: 16px;
/*    padding-left: 16px;
    padding-right: 40px;
*/}

body.mac #input-text {
    font-size: 20px;
    padding-right: 40px;
    padding-left: 20px;
}

.input-text:focus-within {
    border-color: var(--Primary);
}

#input-text::-webkit-scrollbar {
    width: 10px;
}

#input-text::-webkit-scrollbar-thumb {
    background-color: var(--OutlineVariant);
    border-radius: 0;
    border: 10px solid transparent;
}

#input-text::-webkit-scrollbar-track {
    background-color: transparent;
}

#input-text::-webkit-scrollbar-thumb:hover {
    background-color: var(--Outline);
}

.send-button {
    position: absolute;
    right: 0;
    margin-right: 8px;
    border: none;
    cursor: pointer;
    color: var(--Surface15);
    transition: background-color 0.1s;
}

.input-border-large .send-button {
    bottom: 8px;
}

.input-border-small .send-button {
    top: 50%;
    transform: translateY(-50%);
}

body.mac .send-button {
    width: 40px;
    height: 40px;
}

body.windows .send-button {
    width: 32px;
    height: 32px;
}

.disabled-button {
    background-color: var(--OutlineVariant);
    cursor: not-allowed;
}

.enabled-button {
    background-color: var(--Outline);
}

/*     .send-button:hover:not(:disabled) {
        background-color: var(--OutlineVariant);
        } */
