@inject IJSRuntime JS

<div id="chat-border">
    @*         @onkeypress="OnKeyPress"
        @onkeydown="OnKeyDown"
        @onkeyup="OnKeyUp" *@
    <textarea rows="1" id="chat-box" @bind="Input" @onkeydown="OnKeyDown" @bind:event="oninput"></textarea>


    <button disabled="@(InputIsEmpty && !ViewModel.AwaitingResponse)" @onclick="OnSendButtonClicked"
            class="send-button @(InputIsEmpty && !ViewModel.AwaitingResponse ? "disabled-button" : "enabled-button")">
        @if (!ViewModel.AwaitingResponse)
        {
            <span>
                    <i class="fas fa-arrow-up"></i>
                </span>
        }
        else
        {
            <span>
                    <i class="fas fa-stop"></i>
                </span>
        }
    </button>
</div>

<style>
    #chat-border {
        display: flex;
        position: relative;
        border-radius: 32px;
        margin: 0px;
        max-width: 800px;
        width: 100%;
        padding-block: 8px;
        background-color: var(--Surface);
        border: 1.5px solid var(--OutlineVariant);
        transition: border-color 0.3s;
        color: white;

    }

    #chat-box {
        color: var(--OnBackground);
        margin-block: auto;
        background-color: transparent;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        border: none;
        outline: none;
        resize: none;
        padding-right: 46px;
        margin-left: 25px;
        margin-bottom: 0px;
        overflow-y: auto;
    }

    .chat-box:focus-within {
        border-color: var(--Primary);
    }

    #chat-box::-webkit-scrollbar {
        width: 8px;
    }

    #chat-box::-webkit-scrollbar-thumb {
        background-color: var(--Surface2);
        border-radius: 4px;
        border: 10px solid transparent);
    }

    #chat-box::-webkit-scrollbar-track {
        background-color: transparent;
    }

    #chat-box::-webkit-scrollbar-thumb:hover {
        background-color: var(--Surface3);
    }

    /* Send button */
    .send-button {
        position: absolute; /* Set position to absolute */

        right: 0px; /* Align to the right */
        bottom: 6px; /* Align to the bottom */
        margin-top: auto;
        margin-right: 16px;
        margin-left: auto;
        width: 32px;
        height: 32px;
        font-size: 14px;
        border: none;
        border-radius: 50%;
        background-color: var(--Surface4);
        cursor: pointer;
        transition: background-color 0.3s;
        display: absolute;
    }

    .disabled-button {
        color: var(--Surface);
        cursor: not-allowed;
    }

    .enabled-button {
        color: var(--OnSurface);
    }

    /*     .send-button:hover:not(:disabled) {
    background-color: var(--OutlineVariant);
    } */
</style>

<script>

    document.getElementById('chat-box').addEventListener('keydown', function (e) {
        if (e.key == 'Enter' && !e.shiftKey) {
            // prevent default behavior
            e.preventDefault();
            return false;
        }
    }, false);

</script>

@code



{
    bool _inputIsEmpty = true;

    private bool InputIsEmpty
    {
        get => _inputIsEmpty;
        set
        {
            if (_inputIsEmpty != value)
            {
                _inputIsEmpty = value;
                StateHasChanged();
            }
        }
    }

    string? _input;

    private string? Input
    {
        get => _input;
        set
        {
            // if (_ignoreNextTextChange)
            // {
            //     _ignoreNextTextChange = false;
            // }
            // else
            {
                var _ = Task.Run(async () => { await JS.InvokeVoidAsync("resizeUserInput"); });

                if (_input != value)
                {
                    InputIsEmpty = string.IsNullOrWhiteSpace(value);
                    _input = value;
                    StateHasChanged();
                }
            }
        }
    }

    [Parameter] public EventCallback OnSubmit { get; set; }

    [Parameter] public required AssistantSessionViewModelBase ViewModel { get; set; }

    [Parameter] public EventCallback<AssistantSessionViewModelBase> ViewModelChanged { get; set; }

    private bool _ignoreNextTextChange = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        ViewModel.PropertyChanged += (_, _) => InvokeAsync(() => StateHasChanged());
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    // await inputTextArea.FocusAsync();
    // await JS.InvokeVoidAsync("setUserInputFocus");
    //     }
    // }

    private async Task OnSendButtonClicked()
    {
        if (!ViewModel.AwaitingResponse)
        {
            Submit();
        }
        else
        {
            await ViewModel.Cancel();
        }
    }

    private async Task OnInputChange(ChangeEventArgs changeEventArgs)
    {
        await JS.InvokeVoidAsync("resizeUserInput", null);
        // await JS.InvokeVoidAsync("checkOverflow");

        StateHasChanged();
    }

    private void OnKeyDown(KeyboardEventArgs keyboardEventArgs)
    {
        if (keyboardEventArgs.Key == "Enter")
        {
            if (!keyboardEventArgs.ShiftKey && !string.IsNullOrEmpty(Input))
            {
                Submit();
            }
        }
    }

    private void Submit()
    {
        ViewModel.InputText = Input;
        // _ignoreNextTextChange = true;
        ViewModel.Submit();
        Input = string.Empty;
        StateHasChanged();
    }
}
