body.mac #chat-border {
    max-width: 1000px;
}

body.windows #chat-border {
    max-width: 800px;
}

#chat-border {
    color: red;
    font-size: 40px;
    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
    padding-block: 8px;
    background-color: var(--Surface);
    border: 2px solid var(--OutlineVariant);
    transition: border-color 0.3s;
}

.chat-border-small {
    border-radius: 32px;
}

.chat-border-large {
    border-radius: 16px;
}

#chat-box {
    margin-block: auto;
    background-color: transparent;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: 0;
    font-family: system-ui, sans-serif;
    color: white;
    padding-right: 40px;
}

body.windows #chat-box {
    font-size: 16px;
    margin-left: 16px;
}

body.mac #chat-box {
    font-size: 20px;
    margin-left: 20px;
}

.chat-box:focus-within {
    border-color: var(--Primary);
}

#chat-box::-webkit-scrollbar {
    width: 8px;
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: var(--Surface2);
    border-radius: 4px;
    border: 10px solid transparent;
}

#chat-box::-webkit-scrollbar-track {
    background-color: transparent;
}

#chat-box::-webkit-scrollbar-thumb:hover {
    background-color: var(--Surface3);
}

.send-button {
    position: absolute;
    right: 0;
    bottom: 6px;
    margin-top: auto;
    margin-right: 8px;
    margin-left: auto;
    border: none;
    background-color: var(--Surface4);
    cursor: pointer;
    transition: background-color 0.3s;
}

body.mac .send-button {
    width: 40px;
    height: 40px;
}

body.windows .send-button {
    width: 32px;
    height: 32px;
}

.disabled-button {
    color: var(--Surface);
    cursor: not-allowed;
}

.enabled-button {
    color: var(--OnSurface);
}

     .send-button:hover:not(:disabled) {
        background-color: var(--OutlineVariant);
        } 

body.windows {
    font-size: 16px;
}