#settings-container {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    gap: 0;
}

#settings-container > * {
    flex-shrink: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

::deep .setting-field {
    max-width: 64px !important;
    min-width: 64px !important;
}

    ::deep .setting-field .mud-input-root {
        text-align: right !important;
        padding-inline: 8px !important;
        padding-block: 8px !important;
    }

::deep .mud-collapse-container {
    background-color: #171717 !important;
}

::deep .mud-divider {
    border-color: #3A3A3A !important;
}
