#input-border {
    max-width: 800px;
}

#input-border {
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    width: 100%;
    background-color: #2F2F2F;
    border-radius: 1.625rem;
    border: none;
}

    #input-border:focus-within {
        background-color: #3A3A3A;
    }


#input-text {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    overflow-y: auto;
    border: none;
    outline: none;
    resize: none;
    height: auto;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: #ECECEC;
    background-color: transparent;
    scrollbar-gutter: stable;
    max-height: 12rem;
    padding: 0;
}

    #input-text::placeholder {
        color: #8E8E8E;
    }

    #input-text::-webkit-scrollbar {
        width: 6px;
    }

    #input-text::-webkit-scrollbar-thumb {
        background-color: #4A4A4A;
        border-radius: 3px;
    }

.send-button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.5rem;
    padding-left: 0.75rem;
    grid-column: 2;
}

.send-button {
    height: 2rem;
    width: 2rem;
    transition: background-color 0.15s ease, opacity 0.15s ease;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled-button {
    background-color: #676767;
    color: #2F2F2F;
    cursor: default;
    opacity: 0.4;
}

.enabled-button {
    color: #000000;
    background-color: #FFFFFF;
    opacity: 1;
}

    .enabled-button:hover {
        background-color: #E0E0E0;
    }

    .enabled-button:active {
        background-color: #CCCCCC;
    }

#input-textarea-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.875rem 0 0.875rem 1.25rem;
}


.input-textarea-initial {
}

.input-textarea-multiline {
}

.send-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-icon i {
    font-size: 0.875rem;
}

.stop-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stop-icon i {
    font-size: 0.5rem;
}
