.sidebar-container {
    position: relative;
    overflow-inline: hidden;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    background-color: #171717;
}

.sidebar-hidden .resize-handle {
    visibility: visible;
    display: block;
}

.sidebar-content {
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.resize-handle {
    background-color: transparent;
    cursor: ew-resize;
    width: 4px;
    height: 100%;
    position: absolute;
    transition: background-color 0.15s ease;
}

    .resize-handle:hover {
        background-color: #4A4A4A;
    }

.resize-handle-left {
    left: 0;
}

.resize-handle-right {
    right: 0;
}

.fixed-sidebar {
}

.resizable-sidebar {
}
