#expander-container {
}

#expander-header {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    cursor: pointer;
    background-color: var(--Surface);
}

    #expander-header:hover {
    }

#expander-content {
    padding: 1rem;
    background-color: var(--Surface15);
    /*transition: all ease-out 0.4s;*/
}

#expander-content:hover {
}

::deep .mud-icon-size-small {
    font-size: 0.7rem !important;
}


.expander-icon {
    transition: transform 0.3s ease;
}

.rotate-0 {
    transform: rotate(0deg);
}

.rotate-180 {
    transform: rotate(180deg);
}