#expander-container {
    background-color: transparent;
}

#expander-header {
    padding: 0.75rem 1rem;
    cursor: pointer;
    background-color: #1A1A1A;
    transition: background-color 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    #expander-header:hover {
        background-color: #2F2F2F;
    }

#expander-content {
    padding: 0.75rem 1rem;
    background-color: #171717;
}

::deep .mud-icon-size-small {
    font-size: 0.7rem !important;
}


.expander-icon {
    transition: transform 0.2s ease;
    color: #8E8E8E;
    font-size: 0.5rem !important;
}

.rotate-0 {
    transform: rotate(0deg);
}

.rotate-180 {
    transform: rotate(180deg);
}
