button {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.icon-button {
    background-color: transparent;
    color: #B4B4B4;
    border: none;
    border-radius: 0.5rem;
}

    .icon-button:hover {
        color: #ECECEC;
        background-color: #2F2F2F;
    }

.sidebar-toggle-button {
    display: flex;
    border-radius: 0.5rem;
    text-align: center;
    color: #B4B4B4;
    background-color: transparent;
    border: none;
}

    .sidebar-toggle-button:hover {
        background-color: #2F2F2F;
        color: #ECECEC;
    }

.secondary-action-button {
    border-radius: 0.5rem;
    background-color: transparent;
    color: #B4B4B4 !important;
    border: none;
}

    .secondary-action-button:hover {
        background-color: #2F2F2F;
        color: #ECECEC !important;
    }

.icon-button-medium {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.125rem;
}

.icon-button-small {
    width: 2rem;
    height: 2rem;
    font-size: 0.9375rem;
}
