button {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button {
    background-color: transparent;
    color: var(--Outline);
}

.icon-button:hover{
    color: var(--OnSurface);
}

.sidebar-toggle-button {
    display: flex;
    border-radius: 4px;
    text-align: center;
    background-color: var(--Surface2);
    color: var(--OnSurface);
}

    .sidebar-toggle-button:hover {
        background-color: var(--Primary);
    }

.secondary-action-button {
    border-radius: 50%;
    color: var(--Outline);
    background-color: var(--Surface2);
}

    .secondary-action-button:hover {
        background-color: var(--Surface3);
    }

    .icon-button-medium{
        width: 1.75rem;
        height: 1.75rem;
    }

    .icon-button-small{
        width: 1.25rem;
        height: 1.25rem;
    }