#model-selection-button-root {
    max-width: 25vw;
    min-width: 20vw;
    max-width: 24rem;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin-inline: 0.5rem;
}

#model-selection-button-container {
    width: 100%;
    height: 2.25rem;
    border-radius: 0.5rem;
    transition: background-color 0.15s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
}

    #model-selection-button-container:hover {
        background-color: #2F2F2F;
        cursor: pointer;
    }

.button-model-loaded {
    background-color: transparent;
    border: none;
}

    .button-model-loaded:hover {
        background-color: #2F2F2F;
    }

.button-model-unloaded {
    background-color: transparent;
    border: none;
}

    .button-model-unloaded:hover {
        background-color: #2F2F2F;
    }

.button-model-loading {
    pointer-events: none;
    background-color: transparent;
    border: none;
}

#button-body {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 32px 1fr 32px;
    flex: 1;
}

#button-text {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
    color: #ECECEC;
}

.text-wrapper {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

#progress-bar {
    bottom: 0;
    width: 100%;
}

::deep .mud-progress-linear {
    background-color: rgba(16, 163, 127, 0.2) !important;
}

::deep .mud-progress-linear-bar {
    background-color: #10A37F !important;
}

::deep .mud-progress-circular-svg circle {
    stroke: #10A37F !important;
}

.eject-button {
    font-size: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    color: #8E8E8E;
    background-color: transparent;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease;
}

    .eject-button:hover {
        background-color: rgba(239, 68, 68, 0.15);
        color: #EF4444;
    }
