@inject LMKitService LMKitService
@inject IDialogService DialogService

<div id="model-selection-button-root">
    <div id="model-selection-button-container"
         class="@(GetButtonContainerClasses(ModelListViewModel))"
         @onclick="() => OnButtonClicked()">
        <div id="button-body">
            <div class="d-flex justify-center align-center">
                @if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loaded)
                {
                    <button title="@Locales.EjectModel"
                            class="eject-button"
                            @onclick:stopPropagation="true"
                            @onclick="OnEjectButtonClicked">
                        <span class="fas fa-eject" />
                    </button>
                }
                else if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Downloading ||
                         ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loading)
                {
                    <MudProgressCircular Size="Size.Small" Indeterminate="true" Style="width: 18px; height: 18px;" Color="Color.Primary" />
                }
            </div>

            <div id="button-text">
                <div class="text-wrapper">
                    @if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Downloading && ModelListViewModel.LoadingProgress != null)
                    {
                        <MudText Align="Align.Center" Typo="Typo.caption">
                            Downloading @((ModelListViewModel.LoadingProgress.Value * 100).ToString("0"))%
                        </MudText>
                    }
                    else if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loading)
                    {
                        <MudText Align="Align.Center" Typo="Typo.caption">
                            Loading...
                        </MudText>
                    }
                    else
                    {
                        <MudText Align="Align.Center" Typo="Typo.caption">
                            @Text
                        </MudText>
                    }
                </div>

            </div>

            @if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.NotLoaded ||
            ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loaded)
            {
                <div class="d-flex justify-center">
                    <MudIcon Class="xs-icon outline" Icon="fas fa-chevron-down" Size="Size.Small" Style="font-size: 0.6rem !important; color: var(--Outline)" />
                </div>
            }
            else if (ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Downloading ||
                     ModelListViewModel.LoadingState == ModelListViewModel.ModelLoadingState.Loading)
            {
                <div class="d-flex justify-center align-center">
                    <button title="Cancel download"
                            class="cancel-button"
                            @onclick:stopPropagation="true"
                            @onclick="OnCancelButtonClicked">
                        <span class="fas fa-xmark" />
                    </button>
                </div>
            }
        </div>

        @if (ModelListViewModel.LoadingState is ModelListViewModel.ModelLoadingState.Loading or
        ModelListViewModel.ModelLoadingState.Downloading && ModelListViewModel.LoadingProgress != null)
        {
            <div id="progress-bar">
                <MudProgressLinear Value="@(ModelListViewModel.LoadingProgress.Value * 100)" Color="Color.Primary" />
            </div>
        }
    </div>
</div>