.model-card-root {
    flex-direction: row;
    border: 1px solid var(--OutlineVariant);
    border-radius: 0.25rem;
    background-color: transparent;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    padding: 1rem;
}

.model-card-focused {
    background-color: var(--Surface2);
}

.model-card-dense.model-card-focused {
    background-color: var(--Surface15);
}

.model-card-dense {
    padding-block: 1.25rem;
    padding-inline: 1rem;
    border: none;
    border-radius: 0;
}

.model-card-selectable:hover {
    cursor: pointer;
}

.primary {
    color: var(--Primary);
}

.secondary {
    color: var(--Secondary);
}

.tertiary {
    color: #FA8168;
}

.score-1 {
    background-color: #EF594D;
    color: #EF594D;
}

.score-2 {
    background-color: #FFD21E;
    color: #FFD21E;
}

.score-3 {
    background-color: #1C8736;
    color: #1C8736;
}