.model-card-root {
    flex-direction: row;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    padding: 0.75rem 1rem;
    transition: background-color 0.15s ease;
}

.model-card-focused {
    background-color: #2F2F2F;
}

.model-card-dense.model-card-focused {
    background-color: #2F2F2F;
}

.model-card-dense {
    padding: 0.625rem 1rem;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.model-card-selectable {
    cursor: pointer;
}

.model-card-selectable:hover {
    background-color: #2F2F2F;
}

.model-card-dense.model-card-selectable:hover {
    background-color: #2F2F2F;
}

.primary {
    color: var(--Primary);
}

.secondary {
    color: var(--Secondary);
}

.tertiary {
    color: #FF8A65;
}

.score-1 {
    background-color: #EF5350;
    color: #EF5350;
}

.score-2 {
    background-color: #FFC107;
    color: #FFC107;
}

.score-3 {
    background-color: #4CAF50;
    color: #4CAF50;
}
