#model-selection-button-root {
    max-width: 25vw;
    min-width: 25vw;
    max-width: 28rem;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin-inline: 1rem;
}

#model-selection-button-container {
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    transition: all 0.4s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    #model-selection-button-container:hover {
        background-color: var(--Surface);
        cursor: pointer;
    }

.button-model-loaded {
    background-color: transparent;
    border: 1px solid var(--Primary);
}

.button-model-unloaded {
    background-color: transparent;
    border: 1px solid var(--OutlineVariant);
}

.button-model-unloaded:hover{
    border-color: var(--OutlineVariant);
}

.button-model-loading {
    pointer-events: none;
    background-color: var(--Surface);
    border: 1px solid var(--Surface3);
}

#button-body {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 40px 1fr 40px;
    flex: 1;
}

#button-text {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-wrapper {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

#progress-bar {
    bottom: 0;
    width: 100%;
}

::deep .mud-progress-linear-bar {
    background-color: var(--Primary) !important;
}

.eject-button {
    font-size: 0.6rem;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--Primary);
    background-color: var(--Surface15);
    border-radius: 50%;
}

    .eject-button:hover {
        background-color: var(--Surface2);
    }